*{
    box-sizing: border-box;
}

body{
    display: flex;
}
.gallery{
    max-width: 80%;
}
.gallery ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.gallery ul li{
    display: flex;
    border: 9px solid black;
    padding: 30px 20px;
    margin: 20px;
    
}

.gallery ul li  img{
    width: 100%;
    object-fit: contain;
}